{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/link.css')}}">
{% endblock %}
{% block body%}
    <h1>Conditions Générales d'Utilisation</h1>
    <div class="allquest">
    <p>Bienvenue sur HoodzClothes ! Nous vous invitons à lire attentivement les présentes conditions générales d'utilisation
        (ci-après désignées "CGU") avant d'utiliser notre site. En accédant ou en utilisant notre site, vous acceptez d'être lié par ces CGU.
        Si vous n'acceptez pas ces CGU, veuillez ne pas utiliser notre site.
    </p>
        <br>
        <br>
        <br>
    <p>
        1- <strong>Acceptation des CGU</strong><br>
        <br>En utilisant notre site, vous déclarez avoir lu, compris et accepté les présentes CGU. Si vous êtes en désaccord avec l'une de ces conditions, veuillez ne pas utiliser notre site.
    </p>
    <p>
        2- <strong>Compte utilisateur</strong><br>
        <br>a. Pour accéder à certaines fonctionnalités de notre site, vous devrez créer un compte utilisateur. Vous êtes responsable de la confidentialité de vos informations de connexion et de toutes les activités se produisant sous votre compte.
        <br>b. Vous acceptez de fournir des informations exactes, à jour et complètes lors de la création de votre compte utilisateur. Vous vous engagez à maintenir ces informations à jour en cas de modifications ultérieures.
    </p>
    <p>
        3- <strong>Utilisation du site</strong><br>
        <br>a. Vous vous engagez à utiliser notre site conformément aux lois en vigueur, aux présentes CGU et aux politiques applicables.
        <br>b. Vous acceptez de ne pas utiliser notre site à des fins illégales, frauduleuses ou nuisibles, ni de publier du contenu offensant, diffamatoire, obscène ou autrement répréhensible.
        <br>c. Vous acceptez de ne pas interférer avec le bon fonctionnement de notre site, d'essayer d'accéder aux comptes d'autres utilisateurs ou de collecter des informations les concernant sans autorisation.
    </p>
    <p>
        4-<strong> Propriété intellectuelle</strong><br>
        <br>a. Le contenu présent sur notre site, y compris les textes, graphiques, images, logos et logiciels, est protégé par des droits de propriété intellectuelle.
        <br>b. Vous vous engagez à respecter ces droits de propriété intellectuelle et à ne pas copier, reproduire, distribuer ou créer des œuvres dérivées du contenu de notre site sans notre autorisation écrite.
    </p>
    <p>
        5- <strong>Commandes et paiement</strong><br>
        <br>a. Lorsque vous effectuez une commande sur notre site, vous acceptez d'acheter les produits ou services sélectionnés aux prix indiqués, y compris les taxes applicables et les frais de livraison.
        <br>b. Le paiement des commandes s'effectue selon les méthodes de paiement disponibles sur notre site. Vous acceptez de fournir des informations de paiement exactes et complètes.
        <br>c. Nous nous réservons le droit de refuser ou d'annuler une commande en tout temps, sans motif et à notre seule discrétion.
    </p>
    <p>
        6- <strong>Livraison et retours</strong><br>
        <br>a. Les délais de livraison indiqués sur notre site sont approximatifs et peuvent varier en fonction de différents facteurs.
        <br>b. En cas de problème avec votre commande, veuillez nous contacter dans les délais indiqués sur notre site pour organiser un retour ou un remboursement conformément à notre politique de retour.
    </p>
    <p>
        7- <strong>Limitation de responsabilité</strong><br>
        <br>a. Notre site est fourni "tel quel" et nous ne garantissons pas son accessibilité continue, sa sécurité ou son absence d'erreurs.
        <br>b. Nous ne serons pas responsables des dommages directs, indirects, spéciaux
    </p>
    </div>
{% endblock %}