{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/link.css')}}">
{% endblock %}
{% block body%}
    <h1>Conditions Générales de Vente</h1>
    <div class="allquest">
        <p>
            Les présentes conditions générales de vente (ci-après désignées "CGV") régissent l'utilisation du site de e-commerce [nom du site]
            et l'achat de produits ou services proposés par [nom de l'entreprise] (ci-après désignée "le Vendeur"). En effectuant un achat sur
            notre site, vous acceptez d'être lié par ces CGV. Veuillez lire attentivement les CGV avant de passer une commande. Si vous
            n'acceptez pas ces CGV, veuillez ne pas effectuer d'achat sur notre site.
        </p>
        <br>
        <br>
        <br>
        <p>
            1- <strong>Produits et Commandes</strong><br>
            <br>a. Le Vendeur propose à la vente des produits ou services décrits sur son site. Les informations sur les produits, y compris les descriptions, les images et les prix, sont fournies à titre indicatif et peuvent être modifiées sans préavis.
            <br>b. En passant une commande sur notre site, vous proposez d'acheter les produits ou services sélectionnés aux prix indiqués, y compris les taxes applicables et les frais de livraison.
            <br>c. Le Vendeur se réserve le droit de refuser ou d'annuler une commande en tout temps, sans motif et à sa seule discrétion.
            </p>
        <p>
            2- <strong>Prix et Paiement</strong><br>
            <br>a. Les prix des produits ou services sont indiqués en devise locale et sont sujets à modification sans préavis. Les frais de livraison, le cas échéant, sont précisés lors de la validation de la commande.
            <br>b. Le paiement des commandes s'effectue selon les méthodes de paiement disponibles sur notre site. Vous acceptez de fournir des informations de paiement exactes et complètes.
            <br>c. En cas de non-paiement ou de paiement invalide, la commande ne sera pas traitée ou sera annulée.
         </p>
        <p>
            3- <strong>Livraison</strong><br>
            <br>a. Le Vendeur s'efforce de livrer les produits dans les délais indiqués lors de la commande. Toutefois, les délais de livraison sont approximatifs et peuvent varier en fonction de différents facteurs.
            <br>b. Les risques liés aux produits sont transférés à l'acheteur au moment de la livraison. Il est de la responsabilité de l'acheteur de vérifier l'état des produits à la réception et de signaler tout dommage dans les délais impartis.
        </p>
        <p>
            4-<strong>Droit de Rétractation</strong><br>
            <br>a. Conformément à la législation en vigueur, vous disposez d'un délai de [indiquer le délai légal de rétractation] jours à compter de la réception des produits pour exercer votre droit de rétractation sans avoir à justifier de motifs ni à payer de pénalités.
            <br>b. Pour exercer votre droit de rétractation, vous devez nous informer de votre décision par écrit ou en utilisant le formulaire de rétractation fourni sur notre site. Les produits doivent être retournés dans leur état d'origine, complets et non utilisés, accompagnés de tous les accessoires éventuels.
            <br>c. Les frais de retour des produits en cas de rétractation sont à la charge de l'acheteur, sauf indication contraire.
        </p>
        <p>
            5- <strong>Garanties</strong><br>
            <br>a. Le Vendeur garantit que les produits sont conformes à leur description sur le site et qu'ils sont exempts de défauts de fabrication.
            <br>b. Les garanties applicables aux produits peuvent varier
        </p>
    </div>
{% endblock %}