{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/link.css')}}">
{% endblock %}
{% block body%}
    <h1>Mentions Légales</h1>
    <div class="allquest">
        <p style="text-align: center">
            Nom de l'entreprise : <strong>HoodzClothes</strong><br>
            Forme juridique : <strong>SARL</strong><br>
            Siège social : <strong>Limoges</strong><br>
            Numéro de téléphone : <strong>05 05 05 05 05</strong><br>
            Adresse e-mail : <strong>hoodzclothes@gmail.com</strong><br>
            Numéro d'immatriculation : <strong>1234567890</strong><br>
            TVA intracommunautaire : <strong>FR12345678901</strong><br>
            Directeur de la publication : <strong>Mathis Vadier</strong><br>
            Hébergeur du site : <strong>Symfony Serve</strong><br>
        </p>
        <br>
        <br>
        <br>
        <p>
            <strong>Propriété intellectuelle :</strong><br><br>
            Tous les contenus présents sur ce site, tels que les textes, les graphiques, les images, les logos, les vidéos, les icônes et les
            logiciels, sont la propriété exclusive de HoodzClothes ou de ses partenaires et sont protégés par les lois françaises et
            internationales relatives à la propriété intellectuelle. Toute utilisation, reproduction, modification, distribution ou
            représentation, totale ou partielle, de ces contenus sans l'autorisation préalable écrite de HoodzClothes est strictement
            interdite.
        </p>

        <p>
            <strong>Collecte et utilisation des données personnelles :</strong><br><br>
            HoodzClothes s'engage à respecter la confidentialité et la sécurité de vos données personnelles conformément aux lois en
            vigueur. Les données personnelles collectées sur ce site sont uniquement utilisées dans le cadre de la gestion des commandes, de
            la personnalisation de l'expérience utilisateur et de l'amélioration de nos services. Ces données ne sont en aucun cas vendues,
            louées ou cédées à des tiers sans votre consentement préalable. Vous avez le droit d'accéder à vos données personnelles, de les
            rectifier ou de les supprimer en nous contactant à l'adresse e-mail mentionnée ci-dessus.
        </p>

        <p>
            <strong>Responsabilité :</strong><br><br>
            HoodzClothes décline toute responsabilité quant à l'utilisation qui pourrait être faite des informations présentes sur
            ce site. Nous nous efforçons de maintenir les informations à jour et exactes, mais nous ne pouvons garantir leur exhaustivité ni
            leur exactitude. L'utilisation des informations présentes sur ce site se fait donc sous votre propre responsabilité.
        </p>

        <p>
            <strong>Liens externes :</strong><br><br>
            Ce site peut contenir des liens vers des sites externes. HoodzClothes n'est pas responsable du contenu de ces sites ni
            des éventuels préjudices pouvant résulter de leur utilisation.
        </p>

        <p>
            <strong>Droit applicable et juridiction compétente :</strong><br><br>
            Les présentes mentions légales sont régies par le droit français. Tout litige relatif à l'interprétation, l'exécution ou
            la résiliation des présentes mentions légales sera de la compétence exclusive des tribunaux français.
        </p>
        <br>
        <br>
        <br>
        <p>
            Date de la dernière mise à jour : 18 mai 2023
        </p>

    </div>
{% endblock %}